:root {
  --main-bg-color: #1a7f64;
  --selected-text-color: #ffffff;
  --placeholder-color: rgba(256, 256, 256, 0.25);
}

* {
  margin: 0;
  padding: 0;
}

#darkMenu .ant-menu-item-selected {
  background-color: var(--main-bg-color);
}

.ant-menu-item-selected {
  color: var(--selected-text-color) !important;
}

textarea {
  resize: none;
}

/* change placeholder color */
#greyHolder::placeholder {
  color: var(--placeholder-color);
}
